/* Hide scrollbar for all browsers */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
  background-color: var(--bg-dark);
}
.App{
  overflow: hidden;
}